{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" ng-app="microbuzz">
<head>
	<meta charset="UTF-8">
	<title>MicroBuzz</title>
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100italic,900' rel='stylesheet' type='text/css'>
  	<link rel="stylesheet" href="{% static 'materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">MicroBuzz</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#singup" class='modal-trigger'>Sing Up</a></li>
        <li><a href="#singin" class='modal-trigger'>Sing In</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
    </div>
  </nav>

{% block content %}


    {% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'assets/materialize.js' %}"></script>
<script src="{% static 'assets/script.js' %}"></script>
</body>
</html>
