
<!DOCTYPE html>
 <html lang="en">
 <head>
   <meta charset="UTF-8">
   <title>Document</title>
 </head>
 <body>
    {% block chofer %} 
  <div>
    <form method="POST">
      {% csrf_token %}  
      {{form.as_p}}
      <input type="submit" value="ok">
    </form>
    <ul>
    
      {% if form.error %}
        {% for error in form.errors %}
          <li>Tienes un error en {{error}}</li>
        {% endfor %}
      {% endif %} 

    </ul>

  </div>
  
{% endblock chofer %}
 </body>
 </html> 



