
{% extends 'base.html' %}

{% block content %}
{% if user and not user.is_anonymous %}
<div class="container center-align" >
<img id="buss"src="static/assets/microBuzz.gif" alt="">
</div>
<div class="center-align s6 m6 offset-s3 offset-m3">
<a href="{% url 'chofer' %}"class="waves-effect waves-light btn"><i class="material-icons right">assignment_ind</i>Chofer</a>
<a href="{% url 'usuario' %}"class="waves-effect waves-light btn"><i class="material-icons right">assignment_ind</i>Usuario</a>
</div>

{% else %}

<div class="slider">
    <ul class="slides">

      <li>
        <img src="http://www.arpem.com/furgonetas/citroen/jumpy/imagenes-08/citroen-jumpy-combi-dimensiones-1.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>Evalúe el Servicio</h3>
          <h5 class="light grey-text text-lighten-3">Es fácil y rápido</h5>
        </div>
      </li>
      <li>
        <img src="http://newsoaxaca.com/fotos/septiembre/29_septiembre/3081261.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3>Chofer!</h3>
          <h5 class="light grey-text text-lighten-3">Ingresa, Se evaluado y Gana recompensas</h5>
        </div>
      </li>
      <li>
        <img src="http://image.posta.com.mx/sites/default/files/transporte-d-f-trolebc3bas2.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3>Mejoremos el transporte en la ciudad</h3>
          <h5 class="light grey-text text-lighten-3"></h5>
        </div>
         <ul class="right hide-on-med-and-down">
          {% if user and not user.is_anonymous %}
          <li><a href="{% url 'user-logout' %}" class='modal-trigger'>Log Out</a></li>
        {% else %}
        <li><a href="#singup" class='modal-trigger'>Sing Up</a></li>
        <li><a href="#singin" class='modal-trigger'>Sing In</a></li>
          {% endif%}
      </ul>
      </li>
    </ul>
  </div>

  {% endif %}

    <div id="singup" class="modal">
      <div class="modal-content">
        <h4>Sing Up</h4>
        <p class="center-align">
          <form action="" method='POST'>

          </form>
          {% if user and not user.is_anonymous %}
          <h1>Welcome back {{ user.get_full_name }}. </h1>
           <a href="{% url 'user-logout' %}">Logout</a>
           {% else %}
           <a class='loginfb' href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">
           Enter with Facebook
           </a>
          {% endif %}
        </p>
      </div>
    </div>

    <div id="singin" class="modal">
      <div class="modal-content">
        <h4>Sing In</h4>
        <p class='center-align'>
          {% if user and not user.is_anonymous %}
          <h1>Bienvenido {{ user.get_full_name }}. </h1>
           <a href="{% url 'user-logout' %}">Logout</a>
           {% else %}
           <a class='loginfb' href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">
           Entra con Facebook
           </a>
          {% endif %}
        </p>
      </div>
    </div>



{% endblock %}

</body>
</html>
