
{% extends 'base.html' %}

{% block content %}

    <div id="singup" class="modal">
      <div class="modal-content">
        <h4>Sing Up</h4>
        <p class='center-align'>
          <form action="" method='POST'>

          </form>
          {% if user and not user.is_anonymous %}
          <h1>Welcome back {{ user.get_full_name }}. </h1>
           <a href="{% url 'user-logout' %}">Logout</a>
           {% else %}
           <a class='loginfb' href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">
           Enter with Facebook
           </a>
          {% endif %}
        </p>
      </div>
      <div class="modal-footer">
        <a href="{% url 'chofer' %}" class=" modal-action modal-close waves-effect waves-green btn-flat">Entrar!</a>
      </div>
    </div>

    <div id="singin" class="modal">
      <div class="modal-content">
        <h4>Sing Up</h4>
        <p class='center-align'>
          {% if user and not user.is_anonymous %}
          <h1>Welcome back {{ user.get_full_name }}. </h1>
           <a href="{% url 'user-logout' %}">Logout</a>
           {% else %}
           <a class='loginfb' href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">
           Enter with Facebook
           </a>
          {% endif %}
        </p>
      </div>
      <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Entrar!</a>
      </div>
    </div>



	<!-- <script src='/assets/materialize.js'></script>
  <script src='/assets/script.js'></script> -->



	{% endblock content %}

